{% extends 'core/base.html' %}

{% block title %}Browse{% endblock title %}

{% block content %}
    <div class="container">
      <div class="categories">
          <form method="get" action="{% url 'itemsManager:browse' %}">
              <input name="query" type="text" value="{{ query }}" placeholder="Найдите любою хуйню">
              <button>Go</button>
          </form>
          <h2>Категории</h2>
          <ul>
            {% for category in categories %}
            <li class="{% if category.id == category_id %} bg-gray-200 {% endif %}">
              <a href="{% url 'itemsManager:browse' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
            </li>
            {% endfor %}
          </ul>
          <p>Clear Filters</p>
          <ul>
            <li>
              <a href="{% url 'itemsManager:browse' %}">Reset</a>
            </li>
          </ul>
      </div>
      
      <div class="products">
        {% for item in items %}
          <div class="product-card">
            <a href="{% url 'itemsManager:detail' item.id %}"><img src="{{ item.image.url }}" alt="Product Image"></a>
            <a href="{% url 'itemsManager:detail' item.id %}"><h3>{{ item.name }}</h3></a>
            <div class="price">{{ item.price }} Руб</div>
            <button class="add-to-cart-btn">Добавить в корзину</button>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endblock content %}