{% extends 'core/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock title %}</title>
</head>
<body>
    {% block content %}

      <div class="products">
        {% for item in items %}
          <div class="product-card">
            <a href="{% url 'itemsManager:detail' item.id %}"><img src="{{ item.image.url }}" alt="Product Image"></a>
            <a href="{% url 'itemsManager:detail' item.id %}"><h3>{{ item.name }}</h3></a>
            <div class="price">{{ item.price }} Руб</div>
            <button class="add-to-cart-btn">Добавить в корзину</button>
          </div>
        {% endfor %}
      </div>
    {% endblock content %}
</body>
</html>