{% extends 'core/base.html' %}

{% block title %}Chat{% endblock title %}

{% block content %}
<div class="chat-container">
    <div class="chat-header">
        <h1 class="chat-header-h1">Chat</h1>
    </div>
    <div class="chat-content">
        {% for message in chat.messages.all %}
            <div class="{% if message.created_by == request.user %} yourmsg {% else %} notyourmsg {% endif %}">
                <div>
                    <p><strong>{{ message.created_by.username }}</strong> @ {{ message.created_at }}</p>
                    <p>{{ message.content }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <form action="." method="post" class="chat-form">
        {% csrf_token %}

        {{ form.as_p }}

        <button class="sign-up-submit" type="submit">Ответить</button>
    </form>
</div>
{% endblock content %}