{% extends 'core/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {% endblock title %}</title>
</head>
<body>
  {% block content %}
    <div class="content-container">
        <form method="get" action="{% url 'itemsManager:browse' %}" class="search">
            <input name="query" type="text" value="{{ query }}" placeholder="Поиск">
            <input type="submit" value="Go">
        </form>
        <div class="categories">
          <ul>
            {% for category in categories %}
            <li {% if category.id == category_id %}class="pressed"{% endif %}>
              <a href="{% url 'itemsManager:browse' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
            </li>
            {% endfor %}
          </ul>
          <ul>
            <li>
              <a href="{% url 'core:index' %}">Сбросить</a>
            </li>
          </ul>
        </div>
    </div>
    <div class="products">
      {% for item in items %}
        <div class="product-card">
          <a href="{% url 'itemsManager:detail' item.id %}"><img src="{{ item.image.url }}" alt="Product Image"></a>
          <a href="{% url 'itemsManager:detail' item.id %}"><h3>{{ item.name }}</h3></a>
          <div class="price">{{ item.price }} ₽</div>
          <button class="add-to-cart-btn">Подробнее</button>
        </div>
      {% endfor %}
    </div>
  {% endblock content %}
</body>
</html>