{% extends 'core/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Sign Up {% endblock title %}</title>
</head>
<body>
    {% block content %}
    <div class="sign-up-container">
        <form class="sign-up-form" action="." method="POST">
            {% csrf_token %}

            <h2>Регистрация</h2>
            <label for="username">Имя пользователя:</label>
            {{ form.username }}

            <label for="email">Почта:</label>
            {{ form.email }}

            <label for="password1">Пароль:</label>
            {{ form.password1 }}

            <label for="password2">Подтверждение пароля:</label>
            {{ form.password2 }}

            {% if form.errors or form.non_field_errors %}
                <div>
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}

                    {{ form.non_fiel_errors }}
                </div>
            {% endif %}

            <button class="sign-up-submit" type="submit">Зарегистрироваться</button>
        </form>
    </div>
    {% endblock content %}
</body>
</html>