{% extends 'core/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="sign-up-container">
        <form class="sign-up-form" method="POST">
        {% csrf_token %}
            <h2 class="sign-up-h2">Регистрация</h2>
                <label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
                {{ form.username }}

                <label for="{{ form.email.id_for_label }}">Почта:</label>
                {{ form.email }}

                <label for="{{ form.password1.id_for_label }}">Пароль:</label>
                {{ form.password1 }}

                <label for="{{ form.password2.id_for_label }}">Подтверждение пароля:</label>
                {{ form.password2 }}

                {% if form.errors %}
                    <div>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        {% endfor %}

                        {% for error in form.non_field_errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}

                <button class="sign-up-submit" type="submit">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}